@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.profile{
  margin: auto;
  margin-bottom: 30px;
  width:250px;
  background-color: #ffffff;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.01em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);;

}

.description{
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  border: 1px solid #000000;
  margin-bottom: 10px;
}

.name{
  font-size: 20px;
  font-weight: 700;
}

.tag{
  font-size: 14px;
  color: #8B8A8A;
}

.location{
  font-size: 14px;
  color: #8B8A8A;
}

.stats{
  background-color: #EFF2F3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid #C3C5C5;
}

.stats li{
  flex-basis: calc((100% - 2px) / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px 10px;
}

.stats li:not(:last-child){
  border-right: 1px solid #C3C5C5;
}

.label{
  font-size: 10px;
  color: #8B8A8A;
}

.quantity{
  font-size: 15px;
  font-weight: 700;
}
